root = true

[*.{kt,kts}]
# Core Style
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
# Ktlint Specifics
ktlint_standard_final-newline = enabled
ktlint_standard_filename = enabled
ktlint_standard_no-empty-first-line-in-method-block = enabled
# Disabled Rules
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_import-ordering = disabled

# Common exclusions for Design Systems
[catalyst/**.xml]